<template>
	<view class="template-content">
		<!-- 顶部自定义导航 -->
		<tn-nav-bar fixed customBack>
			<view slot="back" class='tn-custom-nav-bar__back' @click="goBack">
				<text class='icon tn-icon-left'></text>
				<text class='icon tn-icon-home-capsule-fill'></text>
			</view>
			<view class="tn-flex tn-flex-col-center tn-flex-row-center ">
				<text class="tn-text-bold tn-text-xl tn-color-black">{{content.title}}</text>
			</view>
		</tn-nav-bar>

		<view class="tn-margin" :style="{paddingTop: vuex_custom_bar_height + 'px'}">
			<mp-html :content="content.content" />
		</view>
	</view>
</template>

<script>
	import template_page_mixin from '@/libs/mixin/template_page_mixin.js'
	import {
		getDocumentContent,
		getPrivacyContent,
		getServiceContent
	} from "@/utils/api/article.js"
	export default {
		name: 'TemplateContent',
		mixins: [template_page_mixin],
		data() {
			return {
				content: {},
				searchWhere: {},
				sence: "", // service:用户服务协议，privacy:用户隐私协议
			}
		},
		onLoad(params) {
			this.searchWhere.uid = params.uid || ""
			this.sence = params.sence || ""
			if (this.sence == "service") {
				this.getServiceContent()
			} else if (this.sence == "privacy") {
				this.getPrivacyContent()
			} else {
				this.getDocumentContent()
			}
			this.$t.mpShare = {
				share: true,
			}
			if (!this.$t.mpShare.share) {
				uni.hideShareMenu()
			}
		},
		methods: {
			getDocumentContent() {
				getDocumentContent(this.searchWhere).then(res => {
					if (res.code == 100) {
						this.content = res.data
						return
					}
					this.$func.showToast(res.msg)
				})
			},
			getPrivacyContent() {
				getPrivacyContent().then(res => {
					if (res.code == 100) {
						this.content = {
							content: res.data,
							title: "用户隐私协议"
						}
						return
					}
					this.$func.showToast(res.msg)
				})
			},
			getServiceContent() {
				getServiceContent().then(res => {
					if (res.code == 100) {
						this.content = {
							content: res.data,
							title: "用户服务协议"
						}
						return
					}
					this.$func.showToast(res.msg)
				})
			},
		}
	}
</script>

<style lang="scss" scoped>
	/* 胶囊*/
	.tn-custom-nav-bar__back {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		box-sizing: border-box;
		background-color: rgba(0, 0, 0, 0.15);
		border-radius: 1000rpx;
		border: 1rpx solid rgba(255, 255, 255, 0.5);
		color: #FFFFFF;
		font-size: 18px;

		.icon {
			display: block;
			flex: 1;
			margin: auto;
			text-align: center;
		}

		&:before {
			content: " ";
			width: 1rpx;
			height: 110%;
			position: absolute;
			top: 22.5%;
			left: 0;
			right: 0;
			margin: auto;
			transform: scale(0.5);
			transform-origin: 0 0;
			pointer-events: none;
			box-sizing: border-box;
			opacity: 0.7;
			background-color: #FFFFFF;
		}
	}
</style>