<template>
	<view class="template-product tn-safe-area-inset-bottom">
		<!-- 顶部自定义导航开始 -->
		<view class="tn-navbg" :style="{height: vuex_custom_bar_height + 'px'}">
			<tn-nav-bar fixed customBack>
				<view slot="back" class='tn-custom-nav-bar__back' @click="goBack">
					<text class='icon tn-icon-left'></text>
					<text class='icon tn-icon-home-capsule-fill'></text>
				</view>
				<view class="tn-flex tn-flex-col-center tn-flex-row-center ">
					<text class="tn-text-bold tn-text-xl tn-color-black">答题说明</text>
				</view>
			</tn-nav-bar>
		</view>
		<!-- 顶部自定义导航结束 -->
		
		<!-- 更多信息-->
		<view class="tn-padding-top-sm tn-padding-bottom-sm">
			<tn-list-cell :hover="true" :unlined="true" :radius="true" :fontSize="30">
				<view class="tn-flex tn-flex-col-center">
					<view class="tn-flex-1">试题类目</view>
					<view class="tn-margin-left-sm" style="font-size: 28rpx;">
						{{collectionContent.category.title || ""}}
					</view>
				</view>
			</tn-list-cell>
			<tn-list-cell :hover="true" :unlined="true" :radius="true" :fontSize="30">
				<view class="tn-flex tn-flex-col-center">
					<view class="tn-flex-1">试卷难度</view>
					<block v-if="collectionContent.level == 1">
						<view class="tn-margin-left-sm" style="font-size: 28rpx;">简单</view>
					</block>
					<block v-if="collectionContent.level == 2">
						<view class="tn-margin-left-sm" style="font-size: 28rpx;">较难</view>
					</block>
					<block v-if="collectionContent.level == 3">
						<view class="tn-margin-left-sm" style="font-size: 28rpx;">中等</view>
					</block>
					<block v-if="collectionContent.level == 4">
						<view class="tn-margin-left-sm" style="font-size: 28rpx;">困难</view>
					</block>
				</view>
			</tn-list-cell>
			<tn-list-cell :hover="true" :unlined="true" :radius="true" :fontSize="30">
				<view class="tn-flex tn-flex-col-center">
					<view class="tn-flex-1">试卷来源</view>
					<view class="tn-margin-left-sm" style="font-size: 28rpx;">{{collectionContent.author || ""}}
					</view>
				</view>
			</tn-list-cell>
			<tn-list-cell :hover="true" :unlined="true" :radius="true" :fontSize="30">
				<view class="tn-flex tn-flex-col-center">
					<view class="tn-flex-1">答题时间</view>
					<view class="tn-margin-left-sm" style="font-size: 28rpx;">{{collectionContent.start_date || ""}} 至
						{{collectionContent.end_date}}
					</view>
				</view>
			</tn-list-cell>
		</view>
		
		<view class="tn-strip-bottom"></view>

		<view class="content-backgroup tn-margin" style="padding-bottom:85px;">
			<view class="tn-flex-1 tn-text-md tn-text-bold">答题说明</view>
			<mp-html :content="collectionContent.content" />
		</view>

		<!-- 信息流广告开始 -->
		<view class="" v-if="showAd">
			<view class="tn-tag-content tn-margin tn-text-justify">
				<ad unit-id="adunit-65c56a85e788fe7b"></ad>
			</view>
			<view class="tn-strip-bottom"></view>
		</view>
		<!-- 信息流广告结束 -->

		<view id="top-info" class="tn-footerfixed tn-safe-area-inset-bottom tn-bg-white"
			:style="{transform: `translateY(${topInfoTranslateY}px)`}">
			<view class="tn-flex tn-flex-row-between tn-flex-col-center">
				<view class="tn-flex-2 justify-content-item tn-color-gray">
					<view class="tn-flex tn-flex-row-center">
						<view class="tn-flex-1" @click="subscribe">
							<!-- <view class="tn-icon-like-fill" v-if="collectionContent.is_collect"
								style="font-size: 42rpx;color: red;">
							</view> -->
							<view class="tn-icon-notice" style="font-size: 42rpx;"></view>
							<!-- <view class="tn-icon-like" v-if="!collectionContent.is_collect" style="font-size: 42rpx;">
							</view> -->
							<view class="tn-text-center tn-text-sm tn-padding-top-xs">订阅</view>
						</view>
						<view class="tn-flex-1 tn-padding-right-xl" @click="submitRank">
							<button class="tn-button--clear-style" style="border-radius: 0;">
								<view class="tn-icon-trophy" style="font-size: 42rpx;"></view>
								<view class="tn-text-center tn-text-sm tn-padding-top-xs">排名</view>
							</button>
						</view>
					</view>
				</view>
				<view class="tn-flex-3 justify-content-item tn-padding-top-sm tn-padding-bottom-sm">
					<tn-button shape="round" backgroundColor="tn-main-gradient-blue" openType="share" padding="38rpx 0"
						width="40%" :fontSize="30" shadow>
						<text class="tn-color-white" hover-class="tn-hover" :hover-stay-time="150">
							邀请好友
						</text>
					</tn-button>
					<tn-button shape="round" @click="onlineExam(collectionContent.uid)" backgroundColor="#27B93A"
						padding="38rpx 0" margin="0 0 0 30rpx" width="40%" :fontSize="30" shadow>
						<text class="tn-color-white" hover-class="tn-hover" :hover-stay-time="150">
							立即答题
						</text>
					</tn-button>
				</view>
			</view>
		</view>

		<view class='tn-tabbar-height'></view>

	</view>
</template>

<script>
	import template_page_mixin from '@/libs/mixin/template_page_mixin.js'
	import {
		getCollectionContent,
		submitCollection
	} from "@/utils/api/exam.js"
	import {
		getUserBasicInfoNoAuth
	} from "@/utils/api/user.js"
	export default {
		name: 'TemplateProduct',
		mixins: [template_page_mixin],
		data() {
			return {
				cardCur: 0,
				swiperList: [],
				tagList: [{
					color: 'red',
					title: "真皮",
				}],
				topInfo: {
					height: 0,
				},
				topInfoTranslateY: 0,
				prevScrollTop: 0,
				collectionUid: "",
				groupList: [], // 头像原生数据
				groupAvatarList: [], //头像组装数据
				collectionContent: {},
				rankList: [],
				showAd: getApp().globalData.showAd
			}
		},
		onReady() {
		},
		onLoad(params) {
			this.collectionUid = params.uid || ""
			this.$t.mpShare = {
				share: true
			}
			if (!this.$t.mpShare.share) {
				uni.hideShareMenu()
			}
		},
		onShow() {
			this.getCollectionContent()
		},
		methods: {
			// 试卷收藏
			collect() {
				if (this.collectionContent.is_collect) {
					this.$func.showToast("已收藏")
					return
				} else {
					submitCollection({
						uid: this.collectionUid
					}).then(res => {
						if (res.code == 100) {
							this.collectionContent.is_collect = true
						}
						this.$func.showToast(res.msg)
					})
				}
			},
			// 获取试卷详情
			getCollectionContent() {
				uni.showLoading({
					title: "试题努力加载中",
					icon: "none"
				})
				getCollectionContent({
					uid: this.collectionUid
				}).then(res => {
					uni.hideLoading()
					if (res.code == 100) {
						this.collectionContent = res.data
						this.swiperList = res.data.picture
						return
					}
					this.$func.showTotast(res.msg)
				})
			},
			onlineExam(uid) {
				getUserBasicInfoNoAuth().then(res => {
					if (res.code == 100) {
						if (this.collectionContent.repeat_count <= this.collectionContent.submit_count) {
							this.$func.showToast('改试卷最多作答' + this.collectionContent.repeat_count + '次')
							return
						}
						if (this.collectionContent.form_state == 1 && !this.collectionContent.is_form) {
							this.$func.navigatorTo("/subpages/exam/consult/form?uid=" + this.collectionUid)
							return
						}
						let currentDate = (new Date()).getTime()
						let startDate = (new Date(this.collectionContent.start_date)).getTime()
						let endDate = (new Date(this.collectionContent.end_date)).getTime()
						console.log(currentDate, startDate, endDate)
						if (currentDate >= startDate && currentDate <= endDate) {
							this.tn("/subpages/exam/reading/submit?uid=" + uid)
						} else {
							this.$func.showToast('不在答题时间范围')
							return
						}
					} else {
						this.$func.showToast("请先登录")
						this.tn("/subpages/user/login")
					}
				})
			},
			// 轮播图切换
			cardSwiper(e) {
				this.cardCur = e.detail.current
			},
			tn(e) {
				this.$func.navigatorTo(e)
			},
			// 答题排行
			submitRank() {
				this.$func.navigatorTo("/subpages/exam/rank/list?collection_uid=" + this.collectionUid)
			},
			// 微信订阅消息
			async subscribe() {
				let subscribeResult = await this.$func.templateSubscribe(getApp().globalData.rewardNotifyTemplateId)
				let code = subscribeResult.code || 0
				if (code == 100) {
					this.$func.showToast("订阅成功")
					return
				}
				this.$func.showToast("订阅失败")
			},
		},
		onShareAppMessage() {
			return {
				title: this.collectionContent.title,
				path: "/subpages/exam/collection/detail?uid=" + this.collectionUid,
				imageUrl: this.image,
			}
		},
		onShareTimeline() {
			return {
				title: this.collectionContent.title,
				path: "/subpages/exam/collection/detail?uid=" + this.collectionUid,
				imageUrl: this.image,
			}
		}
	}
</script>

<style lang="scss" scoped>
	.template-product {}

	.tn-tabbar-height {
		min-height: 20rpx;
		height: calc(40rpx + env(safe-area-inset-bottom) / 2);
	}

	/* 用户头像 start */
	.logo-image {
		width: 110rpx;
		height: 110rpx;
		position: relative;
	}

	.logo-pic {
		background-size: cover;
		background-repeat: no-repeat;
		// background-attachment:fixed;
		background-position: top;
		box-shadow: 0rpx 0rpx 80rpx 0rpx rgba(0, 0, 0, 0.15);
		border-radius: 10rpx;
		overflow: hidden;
		// background-color: #FFFFFF;
	}

	/* 胶囊*/
	.tn-custom-nav-bar__back {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		box-sizing: border-box;
		background-color: rgba(0, 0, 0, 0.15);
		border-radius: 1000rpx;
		border: 1rpx solid rgba(255, 255, 255, 0.5);
		color: #FFFFFF;
		font-size: 18px;

		.icon {
			display: block;
			flex: 1;
			margin: auto;
			text-align: center;
		}

		&:before {
			content: " ";
			width: 1rpx;
			height: 110%;
			position: absolute;
			top: 22.5%;
			left: 0;
			right: 0;
			margin: auto;
			transform: scale(0.5);
			transform-origin: 0 0;
			pointer-events: none;
			box-sizing: border-box;
			opacity: 0.7;
			background-color: #FFFFFF;
		}
	}

	/* 轮播视觉差 start */
	.card-swiper {
		height: 750rpx !important;
	}

	.card-swiper swiper-item {
		width: 750rpx !important;
		left: 0rpx;
		box-sizing: border-box;
		// padding: 0rpx 30rpx 90rpx 30rpx;
		overflow: initial;
	}

	.card-swiper swiper-item .swiper-item {
		width: 100%;
		display: block;
		height: 100%;
		transform: scale(1);
		transition: all 0.2s ease-in 0s;
		overflow: hidden;
	}

	.card-swiper swiper-item.cur .swiper-item {
		transform: none;
		transition: all 0.2s ease-in 0s;
	}

	.image-banner {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.image-banner image {
		width: 100%;
		height: 100%;
	}

	/* 轮播指示点 start*/
	.indication {
		z-index: 9999;
		width: 100%;
		height: 36rpx;
		position: absolute;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.spot {
		background-color: #FFFFFF;
		opacity: 0.6;
		width: 10rpx;
		height: 10rpx;
		border-radius: 20rpx;
		top: -60rpx;
		margin: 0 8rpx !important;
		position: relative;
	}

	.spot.active {
		opacity: 1;
		width: 30rpx;
		background-color: #FFFFFF;
	}

	/* 间隔线 start*/
	.tn-strip-bottom-min {
		width: 100%;
		border-bottom: 1rpx solid #F8F9FB;
	}

	/* 间隔线 start*/
	.tn-strip-bottom {
		width: 100%;
		border-bottom: 20rpx solid rgba(241, 241, 241, 0.8);
	}

	/* 间隔线 end*/
	/* 标题 start */
	.nav_title {
		-webkit-background-clip: text;
		color: transparent;

		&--wrap {
			position: relative;
			display: flex;
			height: 120rpx;
			font-size: 46rpx;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			background-image: url(https://tnuiimage.tnkjapp.com/title_bg/title44.png);
			background-size: cover;
		}
	}

	/* 标题 end */

	/* 用户头像 start */
	.user-image {
		width: 90rpx;
		height: 90rpx;
		position: relative;
	}

	.user-pic {
		background-size: cover;
		background-repeat: no-repeat;
		// background-attachment:fixed;
		background-position: top;
		border-radius: 50%;
		overflow: hidden;
		background-color: #FFFFFF;
	}

	/* 底部*/
	.tn-footerfixed {
		position: fixed;
		background-color: rgba(255, 255, 255, 0.5);
		box-shadow: 0rpx 0rpx 30rpx 0rpx rgba(0, 0, 0, 0.07);
		bottom: 0;
		width: 100%;
		transition: all 0.25s ease-out;
		will-change: transform;
		z-index: 100;
	}

	/* 底部 start*/
	.footerfixed {
		position: fixed;
		width: 100%;
		bottom: 0;
		z-index: 999;
		box-shadow: 0rpx 0rpx 30rpx 0rpx rgba(0, 0, 0, 0.07);
	}

	/* 标签内容 start*/
	.tn-tag-content {
		&__item {
			display: inline-block;
			line-height: 45rpx;
			padding: 10rpx 30rpx;
			margin: 20rpx 20rpx 5rpx 0rpx;

			&--prefix {
				padding-right: 10rpx;
			}
		}
	}

	/* 标签内容 end*/

	/* 内容图 start */
	.content-backgroup {
		z-index: -1;

		.backgroud-image {
			width: 100%;
		}
	}

	/* 内容图 end */

	/* 商家商品 start*/
	.tn-blogger-content {
		&__wrap {
			box-shadow: 0rpx 0rpx 50rpx 0rpx rgba(0, 0, 0, 0.07);
			border-radius: 20rpx;
			margin: 15rpx;
		}

		&__info {
			&__btn {
				margin-right: -12rpx;
				opacity: 0.5;
			}
		}

		&__label {
			&__item {
				line-height: 45rpx;
				padding: 0 10rpx;
				margin: 5rpx 18rpx 0 0;

				&--prefix {
					color: #E83A30;
					padding-right: 10rpx;
				}
			}

			&__desc {
				line-height: 35rpx;
			}
		}

		&__main-image {
			border-radius: 16rpx 16rpx 0 0;

			&--1 {
				max-width: 690rpx;
				min-width: 690rpx;
				max-height: 400rpx;
				min-height: 400rpx;
			}

			&--2 {
				max-width: 260rpx;
				max-height: 260rpx;
			}

			&--3 {
				height: 212rpx;
				width: 100%;
			}
		}

		&__count-icon {
			font-size: 24rpx;
			padding-right: 5rpx;
		}
	}

	.image-book {
		padding: 150rpx 0rpx;
		font-size: 16rpx;
		font-weight: 300;
		position: relative;
	}

	.image-picbook {
		background-size: cover;
		background-repeat: no-repeat;
		// background-attachment:fixed;
		background-position: top;
		border-radius: 15rpx 15rpx 0 0;
	}

	/* 按钮 */
	.button-1 {
		background-color: rgba(0, 0, 0, 0.15);
		position: absolute;
		/* bottom:200rpx;
      right: 20rpx; */
		top: 700rpx;
		right: 30rpx;
		z-index: 1001;
		border-radius: 100px;
	}

	.see {
		display: flex;
		justify-content: space-between;
		padding-top: 10rpx;
		border-radius: 6rpx;
		color: #666;
		line-height: 1.6;
	}
</style>